

     <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">

                <tr>

                    <td>
                    <h1 style="color:#f18d2d; line-height:34px; font-family: 'Open Sans', sans-serif; padding-left:25px; padding-top:60px; font-weight:400;">Welcome to ZENTIERA!</h>
                    </td>


                 </tr>

                 <tr>
                    <td>
                    <p style="font-size:18px; font-weight:500; color:#221f1f; font-family: 'Open Sans', sans-serif;padding-left:25px;  font-weight:300;">Dear {{authorName}}</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p style="font-size:16px;color:#221f1f; color:#221f1f; font-family: 'Open Sans', sans-serif; padding-left:25px; text-align:justify; padding-right:25px; font-weight:300;">Your {{category}} {{approvalStatus}}.</p>
                    </td>
                </tr>



    </table>

