<div>
    <div class = "page-header">
        <h1><small>ZENTIERA</small></h1>
        <span>Logged in</span>
        <a href='javascript:void(0)' ng-click="userLogout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
    </div>

    <div ng-view></div>

    <div class = "page-footer">
        <small>Footer - ZENTIERA</small>
        <span>Logged in</span>
    </div>
</div>
