<body>
        Signup Page Starts



<form name="signup_form" method="POST" action="user/signup">
        <div>
            Name<input type="text" name="name" required>
        </div>
        <div>
            Email<input type="text" name="email" required>
        </div>
        <div>
            Password<input type="password" name="password" required>
        </div>
        <div>
            Gender
            Male<input type="radio" name="gender" value="male">
            Female<input type="radio" name="gender" value="female">
        </div>
        <div>
          Profile Pic
        </div>
        <div>
            Therapeutic Description<input type="text" name="therapeutic_desc" required>
        </div>
        <div>
            Sensual Description<input type="text" name="sensual_desc" required>
        </div>
        <div>
            Location
        </div>
        <div>
          <input type="submit">
        </div>
</form>
</body>
