
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
   jQuery(window).load(function() {
        console.log("Ready----> JQuery");
    });
</script>
<body>
<div>
templates --- > Login.html
</div>
<form name="login_form" method="put" action="user/login">
    <div>
        Username<input type="text" name="username">
    </div>
    <div>
        Password<input type="password" name="password">
    </div>
    <div>
      <input type="submit" name="login_submit">
    </div>
</form>

