<script>
    $(document).ready(function () {
        $("#smsBtn").click(function () {
            var no = $('#to').val();
            var message = $('#message').val();

            var productToken = "93b46b87-d190-4fd3-bd70-7470e4690d2b";
            var from = "Tech innov.";
            var to = "0091" + no;
            var body = message;
            var reference = "Example message reference";
            var data = "<MESSAGES><AUTHENTICATION><PRODUCTTOKEN><![CDATA[" + productToken + "]]></PRODUCTTOKEN></AUTHENTICATION><MSG><FROM><![CDATA[" + from + "]]></FROM><TO><![CDATA[" + to + "]]></TO><BODY><![CDATA[" + body + "]]></BODY><REFERENCE><![CDATA[" + reference + "]]></REFERENCE></MSG></MESSAGES>";

            $.ajax({
                type: "POST",
                contentType: "application/xml",
                data: data,
                dataType: "xml",
                crossDomain: true,
                url: "https://sgw01.cm.nl/gateway.ashx",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Access-Control-Allow-Origin', 'true');
                },
            }).done(function () {
                // Successful request
                console.log('Success.');
            }).fail(function () {
                // Request failed
                console.log('Failed.');
            });

            console.log(message);
        });
    });
</script>
<div class="container">
    <h3> Send SMS</h3>

    <form role="form">
        <div class="form-group">
            <label for="to">To:</label>
            <input type="text" class="form-control" id="to" name="to" />
        </div>
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" id="message" name="message"></textarea>
        </div>
        <input type="button" class="btn btn-default" id="smsBtn" value="Send"/>
    </form>
</div>

