<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript">

    var geocoder = new google.maps.Geocoder();
    var address = "new york";

    geocoder.geocode({'address': address}, function (results, status) {

        if (status == google.maps.GeocoderStatus.OK) {
            var latitude = results[0].geometry.location.lat();
            var longitude = results[0].geometry.location.lng();
            document.getElementById("address").innerHTML="Lat : " + latitude + "; Longi : " + longitude;
        }
    });
    
</script>
<div class="container">
    <!-- GPS -->
    <h3> GPS</h3>
    <input type="button" class="btn btn-default" ng-click="getLocation()" value="Enable GPS"/>
    <br/>
    <p id="gps">{{htmlContent}}</p>


    <!-- Geo location -->
    <br/><br/>
    <h3> Geolocation</h3>
    <input type="text" name="address" ng-model="address"/>
    <input type="button" class="btn btn-default" ng-click="getLatLong()" value="Submit"/>
    <br/>
    <p id="address">{{latlongContent}}</p>
</div>

