<div id="page-wrapper">

    <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="page-header">
                            User Ad Details
                        </h4>

                    </div>
                </div>

<!-- #########################################################################################################################
                             Get User Ad Details - Starts
##############################################################################################################################-->
        <div class="row">

            <button type="button" ng-click="goBack()" class="btn btn-primary" style="float:right;">Back</button>
                <br/><br/>
            <div class="col-lg-12" ng-repeat="adUsersDetail in adUsersDetails">

                   <div class="row">
                       <label class="col-lg-3">Banner :</label>
                       <label class="col-lg-9 ng-binding"><img src="{{adUsersDetail.banner}}" /></label>
                   </div>
                   <div class="row">
                       <label class="col-lg-3"> Banner Type :</label>
                       <label class="col-lg-9 ng-binding">{{adUsersDetail.bannerType}}</label>
                   </div>
                   <div class="row">
                       <label class="col-lg-3">User Name :</label>
                       <label class="col-lg-9 ng-binding">{{adUsersDetail.userName}}</label>
                   </div>
                   <div class="row">
                       <label class="col-lg-3"> Page Name </label>
                       <label class="col-lg-9 ng-binding">{{adUsersDetail.adPageName}}</label>
                   </div>
                   <div class="row">
                       <label class="col-lg-3"> Position Name </label>
                       <label class="col-lg-9 ng-binding">{{adUsersDetail.adPositionName}}</label>
                   </div>

                   <div class="row">
                       <label class="col-lg-3"> Total Cost </label>
                       <label class="col-lg-9 ng-binding">{{adUsersDetail.totalCost}}</label>
                   </div>

                    <div class="row">
                       <label class="col-lg-3"> Expiry Date </label>
                       <label class="col-lg-9 ng-binding">{{adUsersDetail.adExpDay}} {{adUsersDetail.adExpMonth}}, {{adUsersDetail.adExpYear}}</label>
                   </div>
            </div>
        </div>
<!-- #########################################################################################################################
                             Get User Ad Details - Ends
##############################################################################################################################-->
     </div>
</div>
