<div id="page-wrapper">

    <div class="container-fluid">


                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="page-header">
                           POLL COMMENTS
                        </h4>

                    </div>
                </div>

<!-- #########################################################################################################################
      Get All Poll Comments - Starts
##############################################################################################################################-->
        <div class="row">
                    <div class="col-lg-12">
                       <div class="table-responsive">
                            <div class="form-group">
                                    <label class="col-lg-1">Search :</label>
                                    <div class="col-lg-3"> <input class="form-control" type="search" ng-model="searchText"/></div>
                            </div>

                            <button type="button" ng-click="goBack()" class="btn btn-primary" style="float:right;">Back</button>
                            </br></br>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr class="info">
                                        <th class="text-center">#</a></th>
                                        <th class="text-center">Username</th>
                                       <!-- <th class="text-center">User Pic</th> -->
                                        <th class="text-center">Comment</th>
                                        <th class="text-center">Approval Status</th>
                                        <th class="text-center">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="pollComment in pollComments | filter:searchText | startFrom:currentPage*pageSize | limitTo:pageSize">
                                       <!-- <td class="text-center">{{ $index+1 }}</td> -->
                                        <!-- <td class="text-center" ng-controller="RepeatCtrl">{{ indexNumber }}</td> -->
                                        <td class="text-center">{{ (($index + 1) + (currentPage * pageSize))}}</td>

                                        <td class="text-center">
                                                {{ pollComment.name }}
                                        </td>
                                       <!-- <td class="text-center">
                                                <img src="assets/images/pics/{{pollComment.username}}/{{ pollComment.profilePic }}" />
                                        </td> -->
                                        <td class="text-center">
                                                {{ pollComment.pollComment }}
                                        </td>
                                        <td class="text-center">
                                                {{ pollComment.approvalStatus }}
                                        </td>
                                        <td class="text-center">

                                            <span ng-show="pollComment.approvalStatus == 'rejected'">
                                                <a href="javascript:void(0)" id="approved"  ng-click="updatePollCommentApprovalStatus($event,pollComment.id)"> Approve </a>
                                             </span>
                                            <span ng-show="pollComment.approvalStatus == 'approved'">
                                                <a href="javascript:void(0)" id="rejected"  ng-click="updatePollCommentApprovalStatus($event,pollComment.id)"> Reject </a>
                                            </span>
                                            <span>
                                                <!-- <a href="javascript:void(0)"  ng-click="deleteAdPage($event,adPage.id)"> Delete</a> -->
                                            </span>

                                       </td>
                                    </tr>
                                </tbody>
                            </table>

                              <span ng-show="(pollComments.length >= (pageSize + 1))">
                                    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                        Previous
                                    </button>
                                    {{currentPage+1}}/{{numberOfPages()}}
                                    <button ng-disabled="currentPage >= polls.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                                        Next
                                    </button>
                             </span>

                            <span ng-hide="pollComments.length">No Comment for this Blog Found</span>
                        </div>

                     </div>
                </div>
<!-- #########################################################################################################################
  Get All Poll Comments - Ends
##############################################################################################################################-->

    </div>
 </div>
