<div id="page-wrapper">

    <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="page-header">
                            SUB ADMIN PRIVILEGES
                        </h4>

                    </div>
                </div>

<!-- #########################################################################################################################
                                   Sub Admin Privileges - Starts
##############################################################################################################################-->
                 <div class="row">
                     <button type="button" ng-click="goBack()" class="btn btn-primary" style="float:right;">Back</button>
                     <br/><br/>
                     <p class="alert alert-success" ng-show="successMessage">{{ successMessage }}</p>
                     <br/>
                    <div class="col-lg-12">
                              <div class="form-group" ng-repeat="privilege in privileges">

                                    <div class="row">
                                            <label class="col-sm-2 control-label"></label>
                                            <div class="col-sm-1">
                                                <input type="checkbox" ng-model="privilege.checked" ng-change="selectedSAPrivilege()" value="{{privilege.name}}"/>
                                            </div>
                                            <label class="col-sm-4">{{privilege.name}}</label>
                                    </div>
                             </div>

                             <div ng-show="privileges.length">
                                  <label class="col-sm-2 control-label"></label>
                                  <div class="modal-footer col-sm-2" style="border-top: 0px solid #e5e5e5;">
                                        <button type="submit" class="btn btn-primary" ng-click="addNewSubAdminPrivileges()">Save changes</button>
                                  </div>
                             </div>
                            <span ng-hide="privileges.length">No Privileges Found.</span>



                     </div>
                </div>

<!-- #########################################################################################################################
                                    Sub Admin Privileges - ENDS
##############################################################################################################################-->


    </div>
</div>

